:root{
    --bg: rgba(5, 29, 59, 1);

    --dark-blue: rgba(80, 129, 251, 1);
    --dark-blue-hover: rgba(80, 129, 251, 0.08);
    --dark-blue-active: rgba(80, 129, 251, 0.16);
    --dark-blue-focus: rgba(80, 129, 251, 0.24);
    --medium-blue: rgba(123, 164, 252, 1);
    --light-blue: rgba(150, 185, 253, 1);

    --black: rgba(0, 0, 0, 1);
    --black-shadow: rgba(0, 0, 0, 0.24);
    --dark-grey: rgba(20, 20, 20, 1);
    --white: rgba(255, 255, 255, 1);

    --bg-code-editor: rgba(107, 209, 255, 1);

    font-size: 62.5%;
}

/* RESET */
* {
    padding: 0;
    border: none;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    background-color: var(--bg);

    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;

    padding: 1.6rem 1.6rem 4rem;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    position: relative;
}

header .logo {
    line-height: 0rem;
}

header .input {
    display: none;
    width: 28.7rem;
    max-width: 43.1rem;
    margin: 0rem;
}

.search .input {
    width: calc(100% - 5.8rem);
    position: absolute;
    top: 5.2rem;
    left: 0;
}

.search button {
    position: absolute;
    top: 5.2rem;
    right: 0;
}

.input {
    width: 100%;
    padding: 1.6rem 1.4rem;
    border-radius: .8rem;
    margin-bottom: 1.6rem;

    background: rgba(255, 255, 255, 0.16);
    outline: transparent;

    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;

    resize: none;
    transition: .3s;
}

.input:hover {
    background: rgba(255, 255, 255, 0.24);
}

button {
    background-color: transparent;
    
    padding: 1.4rem;
    border-radius: .8rem;
}

header button:first-child {
    margin-right: .8rem;
}

.button-icon {
    transition: .3s;
}

.button-icon img {
    width: 2rem;
    height: 2rem;
}

.button-icon:hover {
    background: rgba(80, 129, 251, 0.08);
}

.button-icon:active {
    background: rgba(80, 129, 251, 0.16);
}

.user {
    display: none;
    align-items: center;
    justify-content: right;

    padding: 1.2rem;
    border-radius: .8rem;
    transition: .3s;
}

.user:hover {
    background: var(--dark-blue-hover);
}

.user-photo {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin-right: .8rem;
}

.menu {
    display: none;
}

.menu nav {
    display: none;
    width: 100%;
    flex-direction: column;
}

.menu-item {
    display: none;
    align-items: center;
    margin-bottom: 1.6rem;
    color: var(--white);
    background: transparent;
    opacity: 0.56;
    transition: .3s;
}

.menu-item:hover {
    opacity: .72;
}

.menu-item:active {
    opacity: 1;
}

.menu-item img {
    padding: 1.6rem;
    border-radius: 1.6rem;
    margin-right: 1.6rem;

    background: var(--dark-blue-active);
    color: var(--white);
    transition: .3s;
}

.menu-item:hover img {
    background: rgba(80, 129, 251, 0.64);
}

.menu-item:hover img {
    background: var(--dark-blue);
}

.menu-item.active {
    opacity: 1;
}

.menu-item.active img {
    background: var(--dark-blue);
}

section {
    margin-bottom: 4rem;
}

.section-title {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: .4rem;
    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
    body {
        padding: 3.2rem 3.2rem 4rem;
    }

    header .input {
        display: block;
    }

    .header-buttons button:first-child {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header-buttons {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 27.2rem 1fr 27.2rem;
        grid-gap: 4rem;
    }

    header .logo {
        justify-self: start;
    }

    header .input {
        width: 100%;
        max-width: 100%;
    }

    header .user {
        display: flex;
        justify-self: end;
    }

    main {
        display: grid;
        grid-template-columns: 27.2rem 1fr 27.2rem;
        grid-gap: 4rem;
    }

    .menu, .project-menu {
        width: 100%;
        max-width: 27.2rem;
    }

    .menu {
        display: block;
    }

    .menu nav {
        display: flex;
    }

    .menu-item {
        display: flex;
    }
}
